/* - - - - - - - - - -
F o n t s
- - - - - - - - - - */
@import url('fonts.css');
/* - - - - - - - - - -
R e s e t
- - - - - - - - - - */
@import url('reset.css');
/* - - - - - - - - - -
V a r i a b l e s
- - - - - - - - - - */
:root {
    --font-heading: 'Pathway Gothic One', sans-serif;
    --font-body: 'Didact Gothic', sans-serif;
    --color1: #252a35;
    --color2: #383f51;
    --color3: #a699a4;
    --color4: #fff;
}
/* - - - - - - - - - -
G e n e r a l
- - - - - - - - - - */
body {
    background-color: var(--color1);
    color: var(--color4);
    main {
        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-inline: 0.4rem;
            height: 100px;
            img {
                transition: transform 0.4s ease-in;
                width: 220px;
            }
            nav {
                display: flex;
                gap: 1rem;
                a:is(:link, :visited) {
                    color: var(--color4);
                    font-family: var(--font-heading);
                    text-decoration: none;
                    font-size: 24px;
                    display: flex;
                    flex-direction: column;
                    transition: transform 0.2s ease-in;
                    align-items: center;
                    width: 178px;
                }
                a:is(:hover) {
                    transform: scale(1.1);
                }
                a:is(:hover) img {
                    transform: translateY(3px);
                }
            }
        }
        section.slider {
            height: 604px;
            img {
                height: 604px;
                object-fit: cover;
            }
            div.owl-nav {
                display: flex;
                justify-content: space-between;
                position: absolute;
                width: 100%;
                top: 50%;
                transform: translateY(-50%);
                button {
                    transition: all 0.2s ease-in;
                    span {
                        display: flex;
                        height: 50px;
                        width: 50px;
                        text-indent: -9999px;
                    }
                }
                button.owl-prev {
                    &:hover {
                        background: transparent;
                        transform: translateX(-5px);
                    }
                    span {
                        background: url(../images/btn-prev.svg) no-repeat center;
                    }
                }
                button.owl-next {
                    &:hover {
                        background: transparent;
                        transform: translateX(5px);
                    }
                    span {
                        background: url(../images/btn-next.svg) no-repeat center;
                    }
                }
            }
        }
    }
}